.navme {
    font-size: 30px;
    color: white;

}

.container {
     color:black;
     margin-top: 60px;

}

body {
    background-color: #cccccc;
    background-image: url(paper.gif);
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}

footer {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;

}

